# Bỏ qua toàn bộ WordPress core
*
!wp-content/
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Giả sử bạn chỉ muốn giữ lại theme `my-theme` và plugin `my-plugin`
wp-content/themes/twentytwentyfive/
wp-content/themes/twentytwentyfour/


wp-content/plugins/*
!wp-content/plugins/my-plugin/

# Bỏ qua các thư mục không cần thiết
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-*/

# Bỏ file cấu hình chứa DB credentials
wp-config.php

# Ignore log, môi trường, hệ thống
*.log
.env
.DS_Store

# Ignore thư viện
vendor/
node_modules/
**/node_modules/