.k-icon.k-clear-value.k-i-close {
	display: none;
}

.input-autocomplete {
	border: none !important;
	width: 100% !important;
	padding: 0px !important;
	padding-left: 18px !important;
}

.input-autocomplete:focus {
	outline: none !important;
	outline-width: 0 !important;
}

ul#autocomplete-address_listbox li.k-item,
ul#autocomplete-store_listbox li.k-item {
	border-bottom: 1px solid #e1e1e1;
	border-top: 0 !important;
	background: #fff !important;
	padding: 10px 15px !important;
}

ul#autocomplete-address_listbox,
ul#autocomplete-store_listbox {
	background-color: #e1e1e1;
}


ul#autocomplete-address_listbox li.k-item:hover,
ul#autocomplete-store_listbox li.k-item:hover {
	color: black !important;
	background: rgba(0, 106, 49, .1) !important;
}

.div-autocomplete:active {
	border-color: green;
}

.div-autocomplete {
	position: relative !important;
	width: 100% !important;
	padding: 0px !important;
}

.div-autocomplete label {
	position: absolute !important;
	left: 10px !important;
}

.k-nodata {
	display: none !important;
}

@media (max-width: 1200px) {

	.close-side-menu {
		display: none;
	}

	.profile-menu-box>a,
	.header-form-holder>a {
		display: block !important;
		padding: 10px 17px !important;
		color: #444444 !important;
	}

	.profile-menu-box.open {
		left: 50% !important;
	}
}

@media (max-width: 780px) {

	.ico-inbox,
	.ico-account,
	.ico-logout {
		font-size: 12px !important;
	}
}

#autocomplete-store_listbox,
#autocomplete-address_listbox {
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}