/*Order detail box*/


/* Original class: boxdonhang*/

.order-detail-box {
    -webkit-box-shadow: 1px 1px 19px 0 rgba(0, 0, 0, .1);
    margin: 0 auto;
    box-shadow: 1px 1px 19px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    max-width: 992px;
}


/* Original class: boxdonhang--title*/

.order-detail-box-title {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    color: #111;
    font-size: 22px;
    font-weight: 700;
}


/* Original class: boxdonhang__thongtin*/

.order-detail-box-information {
    margin-top: 40px;
}


/* Original class: boxdonhang__form*/

.order-detail-box-form {}

.order-detail-box-form .main-title {
    margin-bottom: 20px;
    font-size: 24px;
}

.order-detail-box-form .form-group label {
    display: block;
    margin-bottom: 10px;
    color: #111;
    font-size: 15px;
    font-weight: 700;
}

.order-detail-box .order-detail-box-information .form-group input[type=password],
.order-detail-box .order-detail-box-information .form-group input[type=text],
.order-detail-box .order-detail-box-information .form-group select,
.order-detail-box .order-detail-box-information .form-group input[type=tel] {
    outline: none;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background: #fafafa;
    padding: 5px 20px;
    width: 100%;
    height: 40px;
    caret-color: #006a31;
    color: inherit !important;
}
@media (max-width:576px) {
    .order-detail-box-form .main-title {
        margin-bottom: 20px;
        font-size: 22px;
    }
}

@media (min-width:1025px) {
    .order-detail-box .order-detail-box-information .form-group select {
        background: #fafafa url(../img/select-arrow-dark.svg) no-repeat right 15px center !important;
    }
    .order-detail-box-form .main-title {
        margin-bottom: 20px;
        font-size: 24px;
    }
}


.order-detail-box .order-detail-box-information .form-group .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    color: #666;
    cursor: pointer;
}

.order-detail-box .order-detail-box-information .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 15px;
    flex-direction: column;
}

.order-detail-box .order-detail-box-information .form-group.form-accept {
    margin-bottom: 20px;
}

.order-detail-box .order-detail-box-information .form-group .checked {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.order-detail-box .order-detail-box-information .form-group .red-bill input {
    display: none;
}

.order-detail-box .order-detail-box-information .form-group .checked input {
    margin-right: 10px;
    width: 12px;
    height: 12px;
}

.order-detail-box .order-detail-box-information .form-time .checked {
    margin-bottom: 20px;
}

.order-detail-box .order-detail-box-information .form-group .checked label.change-color {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.order-detail-box .order-detail-box-information .form-time label {
    color: #666;
    font-size: 16px;
    font-weight: 600 !important;
}

.order-detail-box .order-detail-box-information .form-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #00b041;
    border-radius: 5px;
    background: url("data:image/svg+xml; charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 16l-6-6h12z' fill='rgba(153,153,153,1)'/%3E%3C/svg%3E") no-repeat;
    background-position: right 10px center;
    padding: 0 15px;
    width: 258px;
    height: 41px;
    color: #000;
    font-size: 16px;
}

.order-detail-box .order-detail-box-information .form-group .checked input[type=radio]:checked+label:before {
    border: 1px solid #00b041;
    vertical-align: unset;
}

.order-detail-box .order-detail-box-information .form-group .checked label.change-color:before {
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 10px 0 0;
    border: 1px solid #81968b;
    border-radius: 11px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    content: " ";
    vertical-align: unset;
}

.order-detail-box .order-detail-box-information .form-group .checked input[type=radio]:checked+label:after {
    display: block;
    position: absolute;
    top: 9px;
    left: 4px;
    border: 1px solid #00b041;
    border-radius: 11px;
    background: #00b041;
    width: 12px;
    height: 12px;
    content: " ";
}


/* .order-detail-box .order-detail-box-information .form-group .red-bill label:before {
     margin-right: 10px;
     color: #d30e15;
     font: normal normal normal 24px/1 Material Design Icons;
     font-size: 15px;
     content: "\f131";
     vertical-align: unset;
}*/

.order-detail-box .select-shop .select-shop-section .type1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    flex-direction: row;
}

.order-detail-box .select-shop .select-shop-section .type1 input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.order-detail-box .select-shop .select-shop-section .type1 input[type=radio] {
    display: none;
}

.order-detail-box .select-shop .select-shop-section .type1 label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.order-detail-box .select-shop .select-shop-section .type1 label div {
    width: 100%;
}

.order-detail-box .select-shop .select-shop-section .type1 label:before {
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 10px 0 0;
    border: 1px solid #81968b;
    border-radius: 11px;
    background-color: transparent;
    width: 22px;
    height: 20px;
    content: " ";
}

.order-detail-box .select-shop .select-shop-section .type1 input[type=radio]:checked+label:after {
    display: block;
    position: absolute;
    top: 9px;
    left: 4px;
    border: 1px solid #00b041;
    border-radius: 11px;
    background: #00b041;
    width: 12px;
    height: 12px;
    content: " ";
}

.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fafafa;
    padding: 14px 19px;
}

.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information .select-shop-information-title {
    margin-bottom: 10px;
    color: #006a31;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}

.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information .phone,
.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information .select-shop-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #666;
    font-size: 14px;
}

.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information .phone i,
.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information .select-shop-location i {
    margin-right: 5px;
    color: #999;
    font-size: 20px;
}

.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information .phone {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 5px;
}

.order-detail-box .select-shop .select-shop-section .type1 .select-shop-information i.mdi-checkbox-marked-circle {
    display: none;
    position: absolute;
    right: 3px;
    bottom: 0;
    color: #00b041;
    font-size: 21px;
}

.order-detail-box .order-detail-box-information .form-group label {
    display: block;
    margin-bottom: 10px;
    color: #111;
    font-size: 15px;
    font-weight: 700;
}

.order-detail-box .order-detail-box-information .form-group {
    width: 100%
}

.order-detail-box .main-tabslet-form {
    /* border-radius: 8px; */
    /* overflow: hidden; */
    /* border: 1px solid #e1e1e1; */
}

.order-detail-box .select-shop .tabslet-tab {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.order-detail-box .select-shop .tabslet-tab li.active span {
    background: #006a31;
    color: #fff;
    border: 1px solid #006a31;
    border-bottom: none;
}

.order-detail-box .select-shop .tabslet-tab li span {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 15px;
    font-size: 14px;
    color: #006a31;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    cursor: pointer;
}

.order-detail-box .select-shop .tabslet-content .wrap-form::-webkit-scrollbar {
    width: 4px;
}

.order-detail-box .select-shop .tabslet-content .wrap-form::-webkit-scrollbar-thumb {
    background: #006a31;
    /* width: 4px; */
}

.order-detail-box .select-shop #filtered-shop .shop-list-item-wrap {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.select-shop .main-title {
    margin-bottom: 20px;
    font-size: 24px;
}

.checkout-delivery-type .total-wrapper {
    -ms-flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 30px auto;
    max-width: 992px;
}

    .checkout-delivery-type .total-wrapper .btn-prev {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        border-radius: 8px;
        background: #738c80;
        width: 230px;
        max-width: 100%;
        height: 45px;
        color: #fff;
    }

.checkout-delivery-type .total-wrapper .btn-next {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #006a31;
    width: 230px;
    max-width: 100%;
    height: 45px;
    color: #fff;
}

@media(max-width: 576px) {
    #img-payment-id {
        padding-left: 4px !important;
    }

    #content-payment-id {
        padding-left: 0px;
    }
/*Hiển thêm hide panel*/
    .main-title.title-arrow-hide {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-title.title-arrow-hide .title-success-hide {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #666;
    }
    .main-title.title-arrow-hide .title-success-hide em {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s all ease-in-out;
        font-size: 18px;
    }
    .main-title.title-arrow-hide.active-hide .title-success-hide em {
        transform: rotate(180deg);
    }
    .the-pizza-checkout-laststep .main-title {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 15px;
        font-size: 19px;
    }
}
/*end mobile*/
.order-type-container {
    margin: 0 auto;
}

.order-type-container .order-type-bg {
    -webkit-box-shadow: 0 7px 24px rgba(0, 0, 0, .09);
    box-shadow: 0 7px 24px rgba(0, 0, 0, .09);
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.order-type-container .order-type-title {
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
    color: #111;
    font-size: 22px;
    font-weight: 700;
    line-height: .818;
}

.order-type-container .order-type-content {
    margin-top: 15px;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.order-type-container .col-md-6 label {
    width: 100%;
    height: 100%;
}

.order-type-ship {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.order-type-bg {
    border: 1px solid transparent;
    padding: 30px;
}

.order-type-container .col-md-6 label .order-type-check {
    display: none;
}

.order-type-ship .order-type-ship-content {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.order-type-ship .order-type-ship-content .order-type-title {
    margin-bottom: 10px;
    color: #006a31;
}

.order-type-container .col-md-6 input:checked~label .order-type-active {
    position: relative;
    border: 1px solid #00b041;
}

.order-type-container input[type="radio"]+label:before {
    display: none;
}

.order-type-container .order-type-button {
    text-align: right;
}

.order-type-container .order-type-button button:first-child {
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    background: #738c80;
}

.order-type-container .order-type-button button {
    margin-bottom: 10px;
    margin-left: 10px;
    border: 0;
    border-radius: 10px;
    padding: 10px 0;
}

.order-type-container .order-type-button button:first-child i {
    margin-right: 10px;
}

.order-type-container .order-type-button button,
.order-type-container .order-type-button button i {
    color: #fff;
}

.order-type-container .order-type-button button:first-child:hover,
.order-type-container .order-type-button button:last-child {
    background: #006a31;
}

button.btn-prev:hover {
    background-color: #006a31 !important;
}

.order-type-ship img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 15px;
}
/*Mode PC*/
@media (min-width: 1025px) {
    .the-pizza-checkout-laststep .form-profile {
        padding: 25px 30px;
    }
    .the-pizza-checkout-laststep .form-registration {
        padding: 25px 30px;
    }
    .the-pizza-checkout-laststep .form-registration .form-wrap {
        -ms-flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .the-pizza-checkout-laststep .form-registration .form-wrap .form-group {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        padding: 0 15px;
        max-width: 50%;
    }
    .the-pizza-checkout-laststep .form-registration .form-wrap .form-check-2 {
        padding: 0 15px;
    }
    .the-pizza-checkout-laststep .form-payment {
        padding: 25px 30px;
    }
    .the-pizza-checkout-laststep .form-payment .payment-method label {
        padding: 20px;
    }
    .the-pizza-checkout-laststep .form-payment .payment-method label .image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
        /*flex: 0 0 15%;*/
        max-width: 15%;
    }
    .the-pizza-checkout-laststep .form-payment .payment-method label .image:before {
        top: -20px;
        height: calc(100% + 40px);
    }
    .the-pizza-checkout-laststep .form-payment .payment-method label .content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }
    .the-pizza-checkout-laststep .form-right,
    .the-pizza-checkout-laststep .table-order {
        margin: 0;
        padding: 25px 30px;
    }
    .product-item-pizza {
        border: none;
        padding: 0;
    }
    .the-pizza-checkout-laststep .button-wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .the-pizza-checkout-laststep .button-wrapper .btn-prev {
        margin-left: 0;
    }
    .the-pizza-checkout-laststep .button-wrapper .btn-next,
    .the-pizza-checkout-laststep .button-wrapper .btn-prev {
        margin: 0 10px;
        width: 230px;
    }
    /*.the-pizza-checkout-laststep .button-wrapper .btn-prev em {
        margin-right: 15px;
    }*/
    .the-pizza-checkout-laststep .button-wrapper .btn-next {
        margin-right: 0;
    }
    .the-pizza-checkout-laststep .button-wrapper .btn-next,
    .the-pizza-checkout-laststep .button-wrapper .btn-prev {
        margin: 0 10px;
        width: 230px;
    }
    .the-pizza-checkout-laststep .button-wrapper .btn-next em {
        margin-left: 15px;
    }
    .main-title.title-arrow-hide .title-success-hide {
        display: none;
    }
    .the-pizza-checkout-laststep .main-title {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 15px;
        font-size: 22px;
    }
}
/*end PC*/
.the-pizza-checkout-laststep .form-profile {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
    padding: 15px 20px;
}

.the-pizza-checkout-laststep .form-profile .receiver {
    margin-top: 25px;
    color: #006a31;
    font-size: 18px;
    font-weight: 700;
}

.the-pizza-checkout-laststep .form-profile p {
    margin-top: 5px;
    color: #111;
    font-weight: 500;
}

.the-pizza-checkout-laststep .form-profile .receiver span {
    color: #d30e15;
}

.the-pizza-checkout-laststep .form-profile .form-content p {
    font-weight: 700;
}

.the-pizza-checkout-laststep .form-profile .form-content textarea {
    margin-top: 10px;
    border: 1px #e1e1e1;
    border-radius: 8px;
    background: #fafafa;
    padding: 15px 20px;
    width: 100%;
    height: 80px;
}

.the-pizza-checkout-laststep .form-registration {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
    padding: 15px 20px;
}

.the-pizza-checkout-laststep .form-registration .form-wrap .box {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.the-pizza-checkout-laststep .form-registration .form-wrap .box .form-group {
    width: 100%;
    max-width: 100%;
}

.the-pizza-checkout-laststep .form-registration .form-wrap .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.the-pizza-checkout-laststep .form-registration .form-wrap .form-group label {
    font-size: 15px;
    font-weight: 700;
}

.the-pizza-checkout-laststep .form-registration .form-wrap .form-group input {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background: #fafafa;
    padding: 10px 15px;
    width: 100%;
    height: 40px;
}

.the-pizza-checkout-laststep .form-registration .form-wrap .form-check-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.the-pizza-checkout-laststep .form-registration .form-check-2 input {
    display: none;
}

.the-pizza-checkout-laststep .form-registration .form-wrap .form-check-2 label {
    width: 100%;
}

.the-pizza-checkout-laststep .form-registration .form-check-2 label {
    font-size: 15px;
    font-weight: 600;
}

.the-pizza-checkout-laststep .form-registration .title {
    margin-top: 25px;
    font-weight: 700;
}


/*.the-pizza-checkout-laststep .form-registration .form-check-2 label:before {
    margin-right: 10px;
    color: #999;
    font: normal normal normal 24px/1 Material Design Icons;
    font-size: 15px;
    content: "\f131";
}*/

.the-pizza-checkout-laststep .form-registration .title span:first-child {
    color: #d30e15;
    text-transform: uppercase;
}

.the-pizza-checkout-laststep .form-registration .form-check-1 {
    margin-top: 20px;
}

.the-pizza-checkout-laststep .form-registration .form-check-1 input {
    display: none;
}

.the-pizza-checkout-laststep .form-registration .form-check-1 label {
    font-size: 15px;
    font-weight: 700;
}


/*.the-pizza-checkout-laststep .form-registration .form-check-1 label:before {
    margin-right: 10px;
    color: #d30e15;
    font: normal normal normal 24px/1 Material Design Icons;
    font-size: 15px;
    content: "\f131";
}*/

.the-pizza-checkout-laststep .form-payment {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
    padding: 15px 20px;
}

.the-pizza-checkout-laststep .form-payment p {
    margin-top: 25px;
    font-weight: 700;
}

.the-pizza-checkout-laststep .form-payment .payment-method {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.the-pizza-checkout-laststep .form-payment .payment-method input {
    display: none;
}

.the-pizza-checkout-laststep .form-payment .payment-method label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.the-pizza-checkout-laststep .form-payment .payment-method label:before {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    color: #00b041;
    font: normal normal normal 24px/1 Material Design Icons;
    font-size: 24px;
    content: "\f130";
}

.the-pizza-checkout-laststep .form-payment .payment-method label .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    position: relative;
    /*flex: 0 0 30%;*/
    max-width: 30%;
}

.the-pizza-checkout-laststep .form-payment .payment-method input:checked~label .image:before {
    background: #00b041;
}

.the-pizza-checkout-laststep .form-payment .payment-method label .image:before {
    position: absolute;
    top: -10px;
    right: 5px;
    background: #e1e1e1;
    width: 1px;
    height: calc(100% + 20px);
    content: "";
}

.the-pizza-checkout-laststep .form-payment .payment-method label .content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.the-pizza-checkout-laststep .form-payment .payment-method label .content p {
    margin: 0;
}

.the-pizza-checkout-laststep .form-right,
.the-pizza-checkout-laststep .table-order {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    /*    margin-top: 30px;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
    padding: 15px 20px;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper {
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza {
    margin: 0;
}

.product-item-pizza {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    flex-wrap: wrap;
    margin-top: 20px;
    /*    border-top: 1px solid #e1e1e1;*/
    padding: 15px 0;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .amount {
    font-size: 18px;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .total,
.the-pizza-checkout-laststep .table-order .wrap .total,
.the-pizza-checkout-laststep .table-order .total-wrap .total {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.the-pizza-checkout-laststep .table-order .total-wrap .total {
    color: #d30e15;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza .product-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    color: #111;
    line-height: 1.2;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza .size {
    color: #111;
    font-weight: 500;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza .desc {
    color: #666;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza .desc,
.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza .note,
.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza .size {
    font-size: 14px;
}

.the-pizza-checkout-laststep .table-order .bill-wrapper .product-wrapper .product-item-pizza .note {
    color: #00b041;
}

.the-pizza-checkout-laststep .table-order .total-first {
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
}

.the-pizza-checkout-laststep .table-order .total-first .wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.the-pizza-checkout-laststep .table-order .total-first .wrap .price,
.the-pizza-checkout-laststep .table-order .total-first .wrap .sale {
    font-size: 18px;
    font-weight: 700;
}

.the-pizza-checkout-laststep .table-order .total-first .wrap .price,
.the-pizza-checkout-laststep .table-order .total-first .wrap .sale {
    font-size: 18px;
    font-weight: 700;
}

.the-pizza-checkout-laststep .table-order .total-first .wrap .price-sale {
    color: #00b041;
    font-size: 18px;
    font-weight: 400;
}

.the-pizza-checkout-laststep .table-order .total-wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0;
}

.the-pizza-checkout-laststep .table-order .total-wrap p {
    font-size: 20px;
    font-weight: 700;
}

.the-pizza-checkout-laststep .table-order .total-wrap .price-total {
    /*    all: unset !important;*/
    color: #d30e15;
}

.the-pizza-checkout-laststep .form-payment .payment-method input:checked~label {
    border-color: #00b041;
}

.the-pizza-checkout-laststep .form-payment .payment-method input:checked~label:before {
    content: "\f133";
}

.the-pizza-checkout-laststep .payment-method label::before {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}


/*.the-pizza-checkout-laststep .form-registration .form-check-2 input:checked ~ label:before {
    content: "\f132";
}*/

.the-pizza-checkout-laststep .button-wrapper {
    margin-top: 30px;
}

.the-pizza-checkout-laststep .button-wrapper .btn-prev {
    background: #738c80;
}


/*.the-pizza-checkout-laststep .button-wrapper .btn-next em, .the-pizza-checkout-laststep .button-wrapper .btn-prev em {
    font-size: 24px;
}*/

.the-pizza-checkout-laststep .button-wrapper .btn-next {
    background: #006a31;
}

.the-pizza-checkout-laststep .button-wrapper .btn-next,
.the-pizza-checkout-laststep .button-wrapper .btn-prev {
    margin-top: 20px;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    color: #fff;
}

.form-wrap span.required {
    color: red;
}

.order-type-container .col-md-6 input:checked~label .order-type-active .order-type-check i {
    display: block;
    border-radius: 50%;
    background-color: #00b041;
    width: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
}

.order-type-container .col-md-6 input:checked~label .order-type-active .order-type-check {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
}

input.discount-coupon-code {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    height: 35px;
    width: 70%;
}

input.apply-discount-coupon-code-button {
    border: none;
    border-radius: 0 8px 8px 0;
    background: #00b041;
    padding: 0 10px;
    height: 35px;
    color: #fff;
    margin-left: -4px;
    width: 100%;
}

.coupon-code div.input-group-append {
    width: 30%;
}

div.message-success {
    background: rgba(0, 176, 65, .1);
    position: relative;
    border-radius: 5px;
    padding: 20px;
    color: #00b041;
}

div.message-failure {
    background: rgba(211, 14, 21, .1);
    position: relative;
    border-radius: 5px;
    padding: 20px;
    color: #d30e15;
}

/*For Ipad*/

/*Ipad*/
/*màn hình đứng*/
/*@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .the-pizza-checkout-laststep .button-wrapper .btn-next, .the-pizza-checkout-laststep .button-wrapper .btn-prev {
        width: 400px !important;
    }

}*/

/*màn hình ngang*/
/*@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {

}*/

/*Ipad pro*/
/* Portrait */
/*@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .the-pizza-checkout-laststep .button-wrapper .btn-next, .the-pizza-checkout-laststep .button-wrapper .btn-prev {
        width: 350px !important;
    }
}
*/
/* Landscape */
/*@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}*/

/*End For Ipad*/