.popup-1.w-mini {
/*    width: 600px;*/
width:100%;
}
.popup-1 {
    position: relative;
    background: none;
    padding: 40px;
    width: 1020px;
    overflow: hidden;
}
.fancybox-content {
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0;
    background: #fff;
    padding: 44px;
    max-width: 100%;
    overflow: auto;
    text-align: left;
}

.fancybox-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background: #fafafa;
    width: 100%;
    overflow: hidden;
}
.description .title-description {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.popup-1 .dish-plus .step-wrapper .image, .popup-1 .next-step .step-wrapper .image {
    width: 90px;
    height: 85px;
}

.popup-1 .next-step .step-wrapper>* {
    pointer-events: none;
}
.fz24 {
    font-size: 24px;
}
.description .title-description, .description .title-description .sugges {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.fancybox-slide {
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-property: opacity,-webkit-transform;
    -o-transition-property: transform,opacity;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99994;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    outline: none;
    padding: 44px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    white-space: normal;
}

.fancybox-slide--html {
    padding: 6px;
}

.fancybox-stage {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 99994;
    overflow: visible;
    direction: ltr;
}

.product-title.line:before {
    position: absolute;
    top: 0;
    left: 0;
    background: #006a31;
    width: 24px;
    height: 2px;
    content: "";
}
.product-title.line {
    position: relative;
    padding-top: 10px;
}

.product-title {
    margin-top: 5px;
    color: #111;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}