<!-- wp:template-part {"slug":"header","tagName":"header", "className": "header header-transition fixed top-0 left-0 w-screen bg-[#fff] z-[1000]"} /-->

<!-- wp:post-content /-->
<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";
  var swiperTitle = new Swiper(".title-swiper", {
    loop: true,
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesProgress: true,
  });
  const swiper = new Swiper(".banner-swiper", {
    // Optional parameters
    direction: "horizontal",
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiperTitle,
    },
  });
</script>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
